h1 {
  color: green;
  align-items: center;
 
}
 
h2 {
  color:green
}

body {
  color: red;
  margin-left: 150px;
  align-items: center;
}

.App {
  background-image: radial-gradient(green, white, red);
}