

/* div {
  width: 250px;
  height: 350px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
} */
.dice {
  margin: 5rem;
}
/* 
div2 {
  float:right;
  height: 350px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px
} */