*{
  font-family: 'Grenze Gotisch', cursive;
  list-style: none;
  overflow: auto;
}
body {
  background: url(https://cdn.mos.cms.futurecdn.net/sFVrDZdXAsnM9a4D9C7LsR-970-80.jpg.webp) no-repeat center center fixed;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
}
.diceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.325);
  margin-top: 30rem;
}

.diceBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: black;
  width: 12rem;
  height: 12rem;
  font-size: 4rem;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}
.rollBox {
  margin-top: 20rem;
  background-color: rgba(255, 255, 255, 0.325);
  width: 10rem;
  font-size: 2.5rem;
  flex: 0 0 350px;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space: nowrap;
  height: 12rem;
}