.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 12px 4px black;
}

.blackBorder {
  color: black;
  border: 5px solid black;
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: cornflowerblue;
}

.dice {
  /* color: black; */
  /* border: 5px solid black; */
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  /* border-radius: 8px; */
}
.diceNumber {
  font-size: 3rem;
  font-weight: bold;
  border-radius: 20px;
  border: 5px solid black;
}

.logContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: lavender;
}

.log {
  color: blue;
  width: 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.logNumbers {
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

button {
  padding: 1rem;
  font-size: 2rem;
}